nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 1rem;
    border-right: .5px solid #e9e9e9;

}


nav > h1 {
    padding: 0.5rem 2rem;
    text-align: center;
    background: rgb(3, 0, 36);
    background: linear-gradient(
    70deg,
    rgba(97, 9, 121, 1) 18%,
    rgba(0, 115, 255, 1) 100%
    );
    color:#ffffff;
    font-size: 40px;
    border:0px solid rgb(94, 28, 124);
    border-radius: 20px;
    /* box-shadow: 0px 4px 40px rgb(84, 0, 194);
    transition: all, 2000ms ease-in-out; */
    
    /* border-bottom: .5px solid #e9e9e9;
    box-shadow: 10px rgba(15, 15, 15, 0.19); */
}

nav > h1:hover{
    box-shadow: 0px 4px 50px rgb(84, 0, 194);
    transition: all 400ms ease-in-out;

}

@media only screen and (max-width: 1280px) {
    nav {
        display: none;
        flex: 5;
        padding: 0 .5rem;
    }
}