.prescription-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.9rem 0;
    font-size: 1.5rem;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.247);
}

.prescription-title {
    font-weight: bold;
}