.panel-item {
    display: flex;
    flex-direction: row;
    padding: 2rem 1rem;
    background-color: white;
    border-bottom: 1px solid var(--light);
    box-shadow: 0px 2px 8px rgba(15, 15, 15, 0.19);
}

.panel-item > span {
    font-size: 1.3rem;
}

.panel-item > div {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.item-quantity {
    display: flex;
    padding: .2rem;
    align-items: center;
    border: 1px solid var(--light);
    border-radius: 2rem;
}

.item-quantity > span {
    background-color: purple;
    border-radius: 1rem;
    padding: 0 .5rem;
    color: white;
}

.item-add {
    display: flex;
    padding: 0 .5rem;
    border: 1px solid var(--light);
    border-radius: 2rem;
    align-items: center;
    font-size: 1rem;
}

