<link rel="stylesheet" href="style.scss">
<div class="blog-card spring-fever">
    <div class="title-content">
      <h3>FRONT END</h3>
      <hr />
      <div class="intro">jamshidghafari</div>
    </div><!-- /.title-content -->
    <div class="card-info">
    جمشید غفاری من یک معلم فرانت اند هستم و ساکن تهران هستم و عاشق برنامه نویسی هستم
    </div><!-- /.card-info -->
    <div class="utility-info">
      <ul class="utility-list">
        <li class="comments">12</li>
        <li class="date">03.12.2015</li>
      </ul>
    </div><!-- /.utility-info -->
    <!-- overlays -->
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
  </div><!-- /.blog-card -->