.ti-snackbar-root {
  direction: rtl;
}
.ti-snackbar-root.info .ti-snackbarcontent-root-default {
  background-color: #0ad871;
}
.ti-snackbar-root .ti-snackbarcontent-root-default {
  background-color: #ff6565;
  flex-direction: row-reverse;
}

.ti-snackbar-root .ti-snackbarcontent-root-default .MuiSnackbarContent-message {
  flex-grow: 1;
  text-align: end;
}
.ti-snackbar-root .ti-snackbarcontent-root-default .MuiSnackbarContent-action {
  padding-left: 0;
}
.MuiSnackbarContent-root {
  font-size: 12px !important;
}
@media screen and (min-width: 600px) {
  .MuiSnackbar-anchorOriginTopCenter {
    top: 7% !important;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    /* transition: all 2000ms ease-in-out; */
  }
}
@media screen and (min-width: 600px) {
  .MuiSnackbarContent-root {
    flex-grow: initial;
    min-width: 260px !important;
   /*  transition: all 200ms ease-in-out; */
  }
}
