:root {
    --light: #e3dddd;
}

body {
  /* background: rgb(3, 0, 36);
  background: linear-gradient(
    70deg,
    rgba(3, 0, 36, 1) 0%,
    rgba(97, 9, 121, 1) 34%,
    rgba(0, 115, 255, 1) 100%
  ); */
}

.box {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
