.main {
    background-image: url("../back.jpg");
    height: 0;
    padding-bottom: 66.66%;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.main-mid {
    font-size: 6rem;
    font-weight: bold;
    margin: 2rem 0;
}

.main > div {
    padding: 9rem 7rem;
    width: 50%;
}

.main > div > p {
    margin: 5rem 0;
    font-size: 2rem;
}

